<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Dashboard">
    <meta property="og:image" content="/icon">
    <link rel="shortcut icon" href="/icon" type="image/png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="48">
    <meta property="og:image:height" content="48">
    <meta property="og:title" content="AL - Arte Language">
    <title>AL - Admin Dashboard</title>
</head>
<body>
    <h1>AL - Admin Dashboard</h1>
</body>
</html>