<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AL - Учись англискому языку!">
    <meta property="og:image" content="/icon">
    <meta name="keywords" content="бесплатно, англиский, изучать, язык, учить, инностранный, al">
    <link rel="shortcut icon" href="/icon" type="image/png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="48">
    <meta property="og:image:height" content="48">
    <meta property="og:title" content="AL - Arte Language">
    <title>AL - Arte Language</title>
</head>
<body>
    <h1><img src="/icon"> AL - Arte Language</h1>
    <h2>Учись англискому языку!</h2>

    <button onclick="lesson1()">Первый урок</button>
    <button onclick="lesson2()">Второй урок</button>

    <script src="/source/12dmedmwiqiw3rn.php"></script>
</body>

</html>
